body {
    color: beige;
}

label {
    font-size: 20px;
    color: green;
}

h2 {
    color: lightgray;
}

div {
    width: 400px;
}

input {
    margin-bottom: 5px;
}

#folder {
    width: 40%;
    font-size: 15px;
}

button {
    margin-top: 5px;
    margin-right: 10px;
    background-color: blue;
    color: white;
    border: 2px solid black;
    font-size: 15px;
}

button:hover {
    background-color: #000077;
}

#import {
    float: left;
}

#import-input {
    display: none;
}

#export {
    float: right;
}

#import, #export {
    margin-bottom: 10px;
}

.site {
    font-size: 15px;
    width: 100%;
}

img {
    border: 2px solid black;
    width: inherit;
    height: inherit;
    filter: invert(0.8);
}

#arrows {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.inc {
    display: block;
    float: right;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

img:hover {
    filter: invert(0.8) blur(1px);
}